* {
  margin: 0;
  padding: 0;
}

header,
main,
footer,
nav,
section,
div {
  display: block;
}

a {
  text-decoration: none;
  color: #612999;
}

body {
  background-color: #ffffff;
  font-family: Nunito;
  overflow-x: hidden;
  /* width: 1200px; */
}

header {
  height: 128px;
}

#logo {
  display: inline-block;
  background: url("../images/ship.jpeg");
  height: 64px;
  width: 64px;
  margin-top: 32px;
  margin-left: 32px;
}

#logo_name {
  display: inline-block;
  position: absolute;
  width: 220px;
  height: 33px;
  padding-top: 53px;
  gap: 0px;
  opacity: 0px;
  color: #3e3f43;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
}

nav {
  display: inline;
  position: absolute;
  height: 41px;
  margin-top: 48px;
  margin-left: 335px;
  gap: 0px;
  opacity: 0px;
  font-family: Nunito;
  font-size: 30px;
  font-weight: 400;
  line-height: 40.92px;
  text-align: left;
  margin-right: 64px;
  color: #612999;
}

nav a:not(:last-child) {
  margin-right: 64px;
}

footer {
  height: 287px;
  width: 100vw;
  /* width: 1200px; */
  gap: 0px;
  opacity: 0px;
  background: #efecff;
  /* bottom: 0px; */
  /* position: fixed; */
  position: relative;
}

footer > section {
  margin-left: 32px;
  margin-top: 32px;
  position: absolute;
}

footer section ul li h3 {
  /* width: 126px; */
  /* height: 28px; */
  margin-bottom: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}

#follow_us {
  margin-left: 302px;
  position: absolute;
}

#links_icons {
  position: absolute;
  display: block;
  margin-top: 182px;
}

#links_icons > a {
  position: relative;
  margin-top: 122px;
  margin-right: 24px;
}

#links_icons img {
  width: 20px;
  height: 20px;
}

footer > li {
  width: 45px;
  height: 22px;
  margin-top: 24px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
  color: #333333;
}

li {
  list-style-type: none;
  margin-bottom: 8px;
}

#copyright {
  display: block;
  width: 198px;
  height: 18px;
  margin-top: 16px;
  margin-bottom: 0px;
  gap: 0px;
  opacity: 0px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}

nav a#home {
  font-weight: 700;
}

#enjoy > h1 {
  width: 448px;
  height: 131px;
  margin-top: 32px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-size: 96px;
  font-weight: 800;
  line-height: 130.94px;
  text-align: left;
  color: #612999;
}

#enjoy > p {
  display: block;
  position: absolute;
  width: 448px;
  height: 99px;
  margin-top: 163px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.74px;
  text-align: left;
  color: #000000;
}

#enjoy {
  display: flex;
  position: static;
  background: url("../images/enjoy.jpeg");
  /* background: url("../images/enjoy_old.jpeg"); */
  background-repeat: no-repeat;
  width: 100vw;
  height: 797px;
  gap: 0px;
  opacity: 0px;
  overflow-y: hidden;
}

#about {
  font-family: Nunito;
}

#about > h2 {
  width: 136.44px;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #612999;
}

#about > p {
  width: 1136px;
  height: 85px;
  margin-top: 24px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: justified;
  color: #000000;
}

#popular_trips > h2 {
  width: 282px;
  height: 40px;
  margin-top: 39px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #612999;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 39px;
  margin-left: 32px;
}

.card {
  /* display: flex; */
  flex-wrap: wrap;
  width: 376px;
  height: 496px;
  /* margin-top: 27px; */
  /* margin-left: 32px; */
  margin-right: 32px;
  margin-bottom: 27px;
  flex-shrink: 0;
  /* gap: 376px 475px; */
  border-radius: 38px;
  opacity: 0px;
  background: #efecff;
  box-shadow: 0px 6px 40px 0px #3984bb0d;
}

.card > img {
  position: absolute;
  width: 376px;
  height: 276px;
  gap: 0px;
  border-radius: 38px;
  opacity: 0px;
}

.card > h4 {
  position: absolute;
  width: 221px;
  height: 38px;
  margin-top: 297px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Abel;
  font-size: 30px;
  font-weight: 400;
  line-height: 38.23px;
  text-align: justified;
  color: #000000;
}

.card > p {
  position: absolute;
  width: 315px;
  height: 96px;
  margin-top: 347px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Abel;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.94px;
  text-align: left;
  color: #000000;
}

.card > .price {
  width: 136px;
  height: 45px;
  margin-top: 415px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Abel;
  font-size: 35px;
  font-weight: 400;
  line-height: 44.6px;
  text-align: justified;
  color: #612999;
}

.card > .heart_back {
  position: absolute;
  background: url("../images/chose/Ellipse\ heart\ 1.png");
  width: 47px;
  height: 47px;
  margin-top: 40px;
  margin-left: 290px;
  gap: 0px;
  opacity: 0px;
}

.card > .heart_button {
  position: absolute;
  background: url("../images/chose/heart\ 1.png");
  width: 23px;
  height: 20px;
  margin-top: 54px;
  margin-left: 302px;
  gap: 0px;
  opacity: 0px;
}

.card > .cart_back {
  position: absolute;
  background: url("../images/chose/Ellipse\ cart\ 3.png");
  width: 63px;
  height: 63px;
  margin-top: 406px;
  margin-left: 262px;
  gap: 0px;
  opacity: 0px;
}

.card > .cart_button {
  position: absolute;
  background: url("../images/chose/shopping-basket\ 3.png");
  width: 31px;
  height: 31px;
  margin-top: 420px;
  margin-left: 278px;
  gap: 0px;
  opacity: 0px;
}

nav a#our_ships {
  font-weight: 700;
}

#wrapper {
  margin-left: 32px;
}

#images_ships {
  position: relative;
  display: flex;
  width: 100vw;
  height: 300px;
  margin-top: 32px;
  gap: 0px;
  border: 4px 0px 0px 0px;
  opacity: 0px;
}

#images_ships > img:not(:last-child) {
  margin-right: 32px;
}

#images_ships > img {
  border: 4px solid #e6dbfe;
}

#list_of_trips > h2 {
  width: 275px;
  height: 40px;
  margin-top: 32px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #612999;
}

.trip {
  display: flex;
  width: 279px;
  height: 82px;
  margin-top: 32px;
  margin-left: 32px;
  gap: 0px;
  border-radius: 46.5px;
  opacity: 0px;
}

.trip :not(:last-child) {
  margin-bottom: 16px;
}

.trip > .missle_back {
  position: relative;
  width: 82px;
  height: 82px;
  gap: 0px;
  border-radius: 46.5px;
  opacity: 0px;
  background: url("../images/chose/circle1.jpeg");
  z-index: 0;
}

.trip > .missle {
  position: absolute;
  width: 29px;
  height: 42.38px;
  margin-top: 20px;
  margin-left: 26px;
  gap: 0px;
  opacity: 0px;
  background: url("../images/chose/missle.jpeg");
  z-index: 1;
}

#list_of_trips .trip p {
  position: absolute;
  /* width: 300px; */
  height: 14px;
  margin-top: 31px;
  margin-left: 98px;
  gap: 0px;
  opacity: 0px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

#your_choice {
  margin-bottom: 198px;
}

#your_choice > h2{
  /* width: 275px; */
  height: 40px;
  margin-top: 32px;
  margin-left: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #612999;
}

#select_trip_box {
  width: 1136px;
  height: 503px;
  margin-top: 32px;
  /* margin-left: 32px; */
  gap: 0px;
  opacity: 0px;
  /* color: #EFECFF; */
  background-color: #EFECFF;
  display: block;
  padding-top: 32px;
}

.select_box{
  margin: 16px auto 16px;
  display: block;
}

input {
  display: block;
  margin: 32px auto 24px;
  padding: 3px;
  box-shadow: 3px 3px 5px grey;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  height: 25px;
}

label {
  display: block;
  color: #612999;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
  text-align:center;
  padding: 3px;
  margin: 16px auto 40px;
}

button {
  display: block;
  color: #612999;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 200;
  line-height: 14px;
  text-align:center;
  padding: 3px;
  box-shadow: 3px 3px 5px grey;
  margin: 55px auto 16px;
  height: 40px;
  width: 80px;
}



