* {
  margin: 0;
  padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
article,
div {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100vw;
  height: 100px;
  background-color: #edd0f5;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
}

#type_page {
  font-size: 20px;
  width: 300px;
  height: 40px;
  margin: 30px auto 0px;
}

.change_size {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-left: 35px;
  position: relative;
}

#minus {
  margin-right: 45px;
}

#plus {
  margin-right: 45px;
}

#wrapper {
  background-color: rgb(250, 244, 234);
  width: 1000px;
  margin: 100px auto 0px;
  min-height: calc(100vh - 100px);
}

#containerSong {
  margin-left: 20px;
  padding-top: 20px;
}

h1 {
  margin: 0px auto 20px;
  text-align: center;
}

ul {
  margin-left: 20px;
  padding-top: 20px;
}

li {
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
}

#containerRect {
  margin-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.rect {
  width: 150px;
  height: 150px;
  margin: 0px 20px 20px 0px;
  text-align: center;
  font-size: larger;
}
